.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: auto;
  height: 60vh;
  transform: scale(1.2);
  box-shadow: 25px 15px 35px rgba(0, 0, 0, 0.1);
}
@media screen {
}
