.results {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  background: linear-gradient(to bottom, var(--SlateBlue), var(--RoyalBlue));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 3rem;
  text-align: center;
  color: hsla(221, 100%, 96%, 70%);
  border-radius: 25px;
  height: 100%;
  overflow: none;
}

.results-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 7px;
}
.results-score {
  border-radius: 50%;
  height: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 28px;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    var(--ViolateBlue),
    var(--PersianBlue)
  );
  width: 200px;
}
.your-score {
  font-size: 4.5rem;
  margin: -10px;
  color: white;
  font-weight: 800;
}
.results-tag {
  font-size: 28px;
  color: white;
  font-weight: 700;
  margin: 15px;
}
@media screen and (max-width: 375px) {
  .results {
    height: 44%;
  }
  .results-score {
    height: 140px;
    width: 140px;
  }
  .your-score {
    font-size: 56px;
  }
}
@media screen and (max-width: 675px) {
  .results {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
